.left {
  padding: 0;
}
.left .logo {
  width: 100%;
  background-color: blue;
}
.left .logo a {
  width: 100%;
}
.left .logo a img {
  width: 100%;
}
.left ul {
  background-color: #ccc;
}
.left ul li {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
.left ul li:hover {
  background-color: orange;
}
.middle .img {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.middle .img a {
  display: block;
  float: left;
  width: 25%;
  height: 128px;
  position: relative;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
}
.middle .img a img {
  width: 100%;
  height: 100%;
}
.middle .img a span {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
}
.middle .img a:first-child {
  width: 50%;
  height: 256px;
  border-left: 0;
}
.middle .img a:first-child img {
  width: 100%;
  height: 100%;
}
.middle .news {
  overflow: hidden;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 0;
}
.middle .news .n1 {
  padding: 0;
}
.middle .news .i1 {
  padding: 0;
}
.middle .news .i1 img {
  width: 100%;
}
.right {
  padding: 0;
}
.right .top_img {
  width: 100%;
  margin-bottom: 15px;
}
.right .top_img a {
  width: 100%;
}
.right .top_img a img {
  width: 100%;
}
.right .wenzi {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .left ul {
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
  }
  .left ul li {
    padding: 0;
    float: left;
    width: 20%;
    text-align: center;
  }
}
